<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>131162059273-pugh45mg1cn9j6dp6es2pj5t2maaca11.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.131162059273-pugh45mg1cn9j6dp6es2pj5t2maaca11</string>
	<key>API_KEY</key>
	<string>AIzaSyD8XlzY_H4UYY4KQ9nEmqJQddfDUKeEPA8</string>
	<key>GCM_SENDER_ID</key>
	<string>131162059273</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.rateMyLandlord</string>
	<key>PROJECT_ID</key>
	<string>rate-my-landlord-45fe2</string>
	<key>STORAGE_BUCKET</key>
	<string>rate-my-landlord-45fe2.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:131162059273:ios:13fea09a76d20282727ed8</string>
</dict>
</plist>